.title {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-size: 40px;
  h1 {
    margin: 0px;
  }
  button {
    color: #000;
    background-color: #fff;
    border-radius: 980px;
    padding: 15px 26px;
    outline: none;
    border: none;
  }
}
.paragraph {
  padding: 0.1rem 10rem;
  height: fit-content;
  background-color: black;
  p {
    font-size: 62px;
    font-weight: bold;
    color: #fff;
  }
}

.package {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .title {
    top: 30% !important;
  }
  .paragraph {
    padding: 0.1rem 4rem !important;
  }
}

@media only screen and (max-width: 820px) {
  .title {
    top: 30% !important;
    font-size: 30px;
  }
  .paragraph {
    padding: 0.1rem 4rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    top: 30% !important;
    font-size: 30px;
  }
  .paragraph {
    padding: 0.1rem 4rem !important;
  }
}
