.wrapper {
  padding: 1rem 16rem;
  font-size: small;
  background-color: #f5f5f7;
  p {
    color: rgba(39, 38, 38, 0.814);
  }
  li {
    color: rgba(39, 38, 38, 0.814);
  }
  .divider {
    border-bottom: 1px solid rgb(186, 186, 186);
    width: 100%;
  }
  .linkSection {
    display: flex;
    justify-content: space-between;
    color: rgb(160, 159, 159);
    h4 {
      color: rgba(46, 45, 45, 0.764);
      font-weight: 500px !important;
      text-align: left;
    }
  }
  .copyRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0px;
      margin-top: 3px;
    }
    .links {
      width: 50%;
      li {
        display: inline;
        border-right: 1px solid #ddd;
        margin: 0px 5px;
        padding-right: 10px;
        text-align: center;
      }
      li:last-child {
        border: 0px !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 2rem !important;
    .links {
      width: 70% !important;
      li {
        margin: 1px !important;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .wrapper {
    padding: 2rem !important;
    .links {
      width: 70% !important;
      li {
        margin: 1px !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 2rem !important;
    .links {
      width: 70% !important;
      li {
        margin: 1px !important;
      }
    }
  }
}
